.footer {
  display: flex;
  background-color: #d5d4d8;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.socialMedia {
  display: flex;
  gap: 16px;
  padding: 20px;
}

.socialIcons {
  width: 30px;
}

.socialIcons:hover,
.socialIcons:focus {
  background-color: #a496ce;
}
