.about {
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 300px;
  padding: 0 25px 23px 25px;
}

.header {
  margin: 0;
  font-size: 20px;
  letter-spacing: 1px;
}

.texts {
  padding-top: 10px;
  margin: 0;
  font-size: 12px;
  color: #4a4e74;
  line-height: 1.5;
  font: inter;
}
