.logo {
    width: 28%;
    padding-top: 18%;
    padding-bottom: -60px;
    padding-left: 14%;
}
.logo-detail {
    color: rgb(63, 63, 87);
    padding-left: 14%;
    font-size: 16px;
    font-weight: 400;
    font-family: system-ui;
}

.crimson-blue {
    color: #00c8f1;
    font-size: 16px;
    font-weight: 800;
    font-family: system-ui;
}

.h2 {
    /* padding-top: 120%;
    padding-left: 14%;
    color: #000000;
    font-family: system-ui; */
}

.form-block {
    min-width: auto;
}

.form-block {
    padding: 40px 24px;
}

.form-block {
    min-width: 380px;
    width: 5%;
    height: 280px;
    padding: 30px;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #00c8f1;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 60%;

}

.sigin-info {
    text-align: center;
}


.space-top-large {
    margin-top: 14px;
}

.space-top-large {
    margin-top: -90px;
}

.space-top-large {
    margin-top: -320px;
}

.section {
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

